[submodule "jpf-core"]
	path = jpf-core
	url = ../jpf-core.git
[submodule "jpf-symbc"]
	path = jpf-symbc
	url = ../jpf-symbc.git
[submodule "jpf-nhandler"]
	path = jpf-nhandler
	url = ../jpf-nhandler.git
	branch = chinmay
